body {
  background-image: url(images/aditya-vyas-5qUJfO4NU4o-unsplash.jpg);
  background-size: cover ;
}

main {
  color: grey;
}

.header {
  display: flex;
  background-color: darkslategray;
  justify-content: space-between;
  align-items: center;
  color: white;
}

main , form {
  display: flex;
}

#evaluation-form {
  width: 680px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  margin:  auto;
}

select {
  height: fit-content;
}

main {
  margin-top: 24px;
}

#section2 {
  display: flex;
  flex-direction: row;
}

#trybewarts-header-title {
  font-size: 50px;
}
